<!-- Resources -->
<mat-toolbar class="bg-info">
  <span class="spacer"></span>
  <span><mat-icon>directions_bike</mat-icon></span>
  <span class="spacer"></span>
  <span>{{title}}</span>
  <span class="spacer"></span>
  <span><mat-icon>directions_bike</mat-icon></span>
  <span class="spacer"></span>
</mat-toolbar>
<div class="container-fluid">
  <hr>
  <div class="row">
    <div class="col-lg-12 bg-info" *ngIf="closestStation.value">
      <span>Nærmeste stasjon: 
        {{closestStation.value.distance > 1000 ? (closestStation.value.distance / 1000) + " km" : (closestStation.value.distance) + " m"}}
        <a (click)="setActiveStation(closestStation.value.station)" href="#">
          {{closestStation.value.station.name}}
        </a>
      </span>
    </div>
    <div class="col-lg bg-secondary">
      <google-map
        height="500px"
        width="100%"
        [center]="mapCenter"
        [options]="mapOptions"
        [zoom]="mapZoom"
      >
        <map-marker
          #stationElem
          *ngFor="let station of stations"
          [position]="{lat: station.lat, lng: station.lon}"
          [title]="station.name"
          [options]="{optimized: true}"
          (mapClick)="setActiveStation(station)"
        >
        </map-marker>
      </google-map>
    </div>
    <div class="col-lg bg-info" *ngIf="activeStation.value">
      <div class="jumbotron bg-info h1">
        <mat-icon [ngClass]="{'text-white': activeStation.value.station.num_bikes_available > 0}"> directions_bike</mat-icon>
        {{activeStation.value.station.name}}
        <hr>
        <span *ngFor="let spot of activeStation.value.station.station_spots" class="p-1">
          <mat-icon *ngIf="spot===0" class="text-white">directions_bike</mat-icon>
          <mat-icon *ngIf="spot===1">directions_bike</mat-icon>
          <mat-icon *ngIf="spot===2" class="text-warning">directions_bike</mat-icon>
        </span>
        <span>({{activeStation.value.station.num_bikes_available}}/{{activeStation.value.station.capacity}})</span>
      </div>
      <div>
        <table class="table table-striped">
          <tbody>
            <tr>
              <th scope="row">Adresse</th>
              <td>{{activeStation.value.station.address}}</td>
            </tr>
            <tr>
              <th scope="row">Sist oppdatert</th>
              <td>{{activeStation.value.station.last_reported*1000 | date: "HH:mm dd.MM.yyyy" }}</td>
            </tr>
            <tr *ngIf="userPosition.value">
              <th scope="row">Avstand</th>
              <td>{{activeStation.value.distance > 1000 ? (activeStation.value.distance / 1000) + " km" : (activeStation.value.distance) + " m"}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="col-lg-12">
      <hr>
      <station-activity [options]="activityOptions"></station-activity>
    </div>
  </div>
</div>