<!-- Resources -->
<mat-toolbar class="bg-info">
  <span class="spacer"></span>
  <span><mat-icon>directions_bike</mat-icon></span>
  <span class="spacer"></span>
  <span>{{title}}</span>
  <span class="spacer"></span>
  <span><mat-icon>directions_bike</mat-icon></span>
  <span class="spacer"></span>
</mat-toolbar>
<div class="container-fluid">
  <hr>
  <div class="row">
    <div class="col-lg bg-secondary">
      <google-map
        height="500px"
        width="100%"
        [center]="mapCenter"
        [options]="mapOptions"
        [zoom]="mapZoom"
      >
        <map-marker
          #stationElem
          *ngFor="let station of stations"
          [position]="{lat: station.lat, lng: station.lon}"
          [title]="station.name"
          [options]="{optimized: true}"
          (mapClick)="setActiveStation(station)"
        >
        </map-marker>
      </google-map>
    </div>
    <div class="col-lg bg-info" *ngIf="activeStation.value">
      <div class="jumbotron bg-info h1">
        <mat-icon> directions_bike</mat-icon>
        {{activeStation.value.name}}
        <hr>
        <span *ngFor="let spot of activeStation.value.station_spots" class="p-1">
          <mat-icon *ngIf="spot===0" class="text-white">directions_bike</mat-icon>
          <mat-icon *ngIf="spot===1">directions_bike</mat-icon>
          <mat-icon *ngIf="spot===2" class="text-warning">directions_bike</mat-icon>
        </span>
        <span>({{activeStation.value.num_bikes_available}}/{{activeStation.value.capacity}})</span>
      </div>
      <div>
        <table class="table table-striped">
          <tbody>
            <tr>
              <th scope="row">Adresse</th>
              <td>{{activeStation.value.address}}</td>
            </tr>
            <tr>
              <th scope="row">Sist oppdatert</th>
              <td>{{activeStation.value.last_reported*1000 | date: "yyyy.MM.dd HH:mm" }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="col-lg-12">
      <div [chart]="chart"></div>
    </div>
  </div>
</div>